@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Poppins:wght@100;200;300;500;700&family=Prompt:wght@100;200;500&display=swap');
html {
  box-sizing: border-box;
  --pink: #e4526f;
  --white: white;
  --black: #040404;
  background: white;
}
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  line-height: 2;
}

li {
  list-style: none;
}
button {
  text-transform: uppercase;
  font-family: 'Epilogue', sans-serif;
  font-family: 'Prompt', sans-serif;
  background: var(--pink);
  padding: 0.5rem;
  color: black;
  display: block;
  outline: none;
  border: none;
  min-width: 6rem;
  cursor: pointer;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: black;
}
